<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>  
<!--          打印查询语句  -->
  <setting name="logImpl" value="STDOUT_LOGGING" /> 
</settings>
	<typeAliases>
		<typeAlias type="common.pojo.PageData" alias="pd"/>
		<typeAlias type="common.pojo.Page" alias="page"/>
		<typeAlias type="common.utils.mybatis.alias.PagerInfo" alias="PagerInfo"/>
		<typeAlias type="common.pojo.CriterionMap" alias="CriterionMap"/>
		<!-- 这里添加实体类 -->
		<package name="com.mall.service" />
	</typeAliases>
    
</configuration>